<template>
    <div>
        <header>
            <h1>Header</h1>
            <h6>Vue2 + Webpack + TypeScript + Jest</h6>
        </header>

        <nav>
            <ul>
                <li><router-link to="/">Home</router-link></li>
                <li><router-link to="/view1">Page 1</router-link></li>
                <li><router-link to="/view2">Page 2</router-link></li>
            </ul>
        </nav>

        <main class="container-fluid">
            <section>
                <router-view></router-view>
            </section>    
        </main>
        
        <footer>
            <p>Footer</p>
        </footer>
    </div>
</template>

<script lang="ts">
export default {
    data() {
        return {}
    },
    created() {
        console.log('[App.vue] created')
        this.$store.dispatch('values/startUpdatingValues')
    }
}
</script>

<style lang="scss" scope>
$background-color: #fff;
$foreground-color: #000;

header {
  padding: 0px;
  margin: 20px;
  text-align: center;
  font-size: 2em;
  color: black;
}

header h1, header h6 {
    margin: 0;
}

nav {
    padding: 0px 20px;
}

section {
    margin: 0px;
    padding: 0px;
}

article {
  padding: 0;
  width: 100%;
//   height: 100%;
}

footer {
    clear: both;
    text-align: center;
    text-align: center;
    padding: 10px 0;
    // position: fixed;
    // bottom: 0;
    width: 100%;
}
</style>