<template>
    <div>
        <div class="grid">
            <div class="col-6">
                <article class="first-section-data">
                    <h3>{{ firstValue | isoDateFilter }}</h3>
                    <small>Value 1</small>
                </article>
            </div>
            <div class="col-2">
                <article class="second-section-data">
                    <h3>{{ secondValue }}</h3>
                    <small>Value 2</small>
                </article>
            </div>
            <div class="col-2">
                <article class="third-section-data">
                    <h3>{{ thirdValue }}</h3>
                    <small>Value 3</small>
                </article>
            </div>
            <div class="col-2">
                <article class="fourth-section-data">
                    <h3>{{ fourthValue }}</h3>
                    <small>Value 4</small>
                </article>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <article>
                    <values-table-component></values-table-component>
                </article>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import ValuesTableComponent from './components/ValuesTableComponent.vue'
import isoDateFilter from './filters/isoDateFilter'

export default {
    components: {
        ValuesTableComponent
    },
    filters: {
        isoDateFilter
    },
    data() {
        return {
            message: ''
        };
    },
    computed: {
        firstValue: function() {
            return this.$store.state.values.values.value1
        },
        secondValue: function() {
            return `${this.$store.state.values.values.value2}$`
        },
        thirdValue: function() {
            return `${this.$store.state.values.values.value3}€`
        },
        fourthValue: function() {
            return `${this.$store.state.values.values.value4}%`
        }
    },
    methods: {
        //TODO: methods
    }
}
</script>

<style lang="scss" scope>
.first-section-data {
    background-color: #857d91;
}

.second-section-data {
    background-color: #009383;
}

.third-section-data {
    background-color: #c98a05;
}

.fourth-section-data {
    background-color: #f76a91;
}

.first-section-data,
.second-section-data,
.third-section-data,
.fourth-section-data {
    padding: 10px;
    color: white;
}

.first-section-data>h3,
.second-section-data>h3,
.third-section-data>h3,
.fourth-section-data>h3 {
    color: white !important;
    margin-bottom: 0px !important;
}
</style>