<template>
    <div>
        <div class="grid">
            <div class="col-12">
                <article>
                    VIEW 1
                </article>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
export default {
    data() {
        return {
            message: ''
        };
    }
}
</script>

<style lang="scss" scope>
</style>