<template>
    <div>
        <div class="grid">
            <div class="col-6">
                <labelEditComponent label='Name' placeholder="Enter a user name"></labelEditComponent>
            </div>
            <div class="col-6">
                <labelEditComponent label='Email' placeholder="Enter a valid mail"></labelEditComponent>
            </div>
        </div>
        <div class="grid">
            <div class="col-6">
                <labelSelectComponent label='Overall satisfaction' :options="overallSatisfactionOptions"></LabelSelectComponent>
            </div>
            <div class="col-6">
                
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import LabelEditComponent from './components/LabelEditComponent.vue'
import LabelSelectComponent from './components/LabelSelectComponent.vue'

const overallSatisfactionOptions: Array<any> = [{
    value: 'very_satisfied',
    text: 'Very Satisfied'
}, {
    value: 'satisfied',
    text: 'Satisfied'
}]

export default {
    components: {
        LabelEditComponent,
        LabelSelectComponent
    },
    data() {
        return {
            message: '',
            overallSatisfactionOptions
        };
    }
}
</script>

<style lang="scss" scope>
</style>