<template>
    <fieldset>
        <label>
        {{ label }}
        <input
            v-model="inputValue"
            :name="name"
            :placeholder="placeholder"
            @input="handleInput"
        />
        </label>
        <span v-if="error" class="error-message">{{ error }}</span>
    </fieldset>
</template>

<script lang="ts">
export default {
    props: {
        label: {
            required: true,
            type: String
        },
        name: {
            required: false,
            type: String,
            default: 'text'
        },
        placeholder: {
            required: false,
            type: String,
            default: ''
        }
    },
    data() {
        return {
            inputValue: '',
            error: null
        }
    },
    methods: {
        handleInput() {
            this.$emit('input', this.inputValue)
        },
        validate() {
            if (this.inputValue.trim() === '') {
                this.error = 'This value is required'
                return false
            } else {
                this.error = null
                return true
            }
        }
    }
}
</script>

<style scoped>
.error-message {
    color: red;
}
</style>