<template>
    <fieldset>
        <label>
            {{ label }}
            <select v-model="selectedValue" :name="name" @changed="handleChange">
                <option disabled selected value="">Choose an option:</option>
                <option v-for="(option, index) in options" :key="index" :value="option.value">
                    {{ option.text }}
                </option>
            </select>
        </label>
        <span v-if="error" class="error-message">{{ error }}</span>
    </fieldset>
</template>

<script lang="ts">
export default {
    props: {
        label: {
            required: true,
            type: String
        },
        name: {
            required: false,
            type: String,
            default: 'text'
        },
        options: {
            required: true,
            type: Array,
            default: []
        },
        value: {
            required: false,
            type: String || Number || Boolean || Object || Array,
            default: ''
        }
    },
    data() {
        return {
            selectedValue: this.value
        }
    },
    mounted() {
        console.log(this.options)
    },
    watch: {
        value(newValue) {
            this.selectedOption = newValue;
        }
    },
    methods: {
        handleChange() {
            this.$emit('input', this.selectedValue)
        },
        validate() {
            if (this.selectedValue.trim() === '') {
                this.error = 'This value is required'
                return false
            } else {
                this.error = null
                return true
            }
        }
    }
}
</script>

<style scoped>
.error-message {
    color: red;
}
</style>