<template>
    <div>
        <table>
            <thead>
                <tr>
                    <th scope="col">Value 1</th>
                    <th scope="col">Value 2 ($)</th>
                    <th scope="col">Value 3 (€)</th>
                    <th scope="col">Value 4 (%)</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(row, index) in history" :key="index">
                    <th scope="row">{{ row[0] | isoDateFilter }}</th>
                    <td>{{ row[1] }}</td>
                    <td :class="getValueClass(row[2])">{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row">Average</th>
                    <td></td>
                    <td>{{ value3Average }}</td>
                    <td>{{ value4Average }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<script lang="ts">
import isoDateFilter from '../filters/isoDateFilter'
import { trunkDecimals } from '../shared/utilities'

function getValueAverage(history: number[], index: number): number {
    let total = 0
    for (const values of history) {
        total += values[index]
    }

    return trunkDecimals(total / history.length, 2)
}

export default {
    filters: {
        isoDateFilter
    },
    computed: {
        history: function() {
            const list = this.$store.state.values.history.slice()
            return list.reverse()
        },
        value3Average: function() {
            const list = this.$store.state.values.history.slice()
            return getValueAverage(list, 2)
        },
        value4Average: function() {
            const list = this.$store.state.values.history.slice()
            return getValueAverage(list, 3)
        }
    },
    data() {
        return {}
    },
    methods: {
        getValueClass: function(value: number) {
            return (value >= 0) ? 'value-positive' : 'value-negative'
        }
    }
}
</script>

<style lang="scss" scope>
.value-positive {
    color: green
}
.value-negative {
    color: red
}
</style>